<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link href="css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <style>
        *{ margin:0; padding:0;}
        /*button { outline:none;}*/
        .login{ width:120px; height:42px; background:#f40; color:#fff; border:none; border-radius:6px; display: block; margin:20px auto; cursor: pointer;}
        .popOutBg{ width:100%; height:100%; position: fixed; left:0; top:0; background:rgba(0,0,0,.6); display: none;}
        .popOut{ position:fixed; width:700px; height:500px; top:24%; left:50%; margin-top:-100px; margin-left:-300px; background:#fff; border-radius:8px; overflow: hidden; display: none;}
        .popOut > span{ position: absolute; right:10px; top:0; height:42px; line-height:42px; color:#000; font-size:30px; cursor: pointer;}
        .img {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 4px;
            width:180px;
            height:180px;
            padding: 5px;
            transition: 0.3s;
        }
        .control {
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 4px;
            width:40px;
            height:40px;
            padding: 5px;
            transition: 0.3s;
        }
        @keyframes ani{
            from{
                transform:translateX(-100%) rotate(-60deg) scale(.5);
            }
            50%{
                transform:translateX(0) rotate(0) scale(1);
            }
            90%{
                transform:translateX(20px) rotate(0) scale(.8);
            }
            to{
                transform:translateX(0) rotate(0) scale(1);
            }
        }
        .ani{ animation:ani .5s ease-in-out;}
    </style>
</head>
<body>

<div th:replace="commons/bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <!--侧边栏-->
        <div th:replace="commons/bar::#sidebarForEveryone(activeUri='main.html')"></div>

        <!--右侧主体内容-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <tbody>
                <tr th:each="flight,interStat : ${flights}">
                    <td th:text="${interStat.index}"></td>
                    <td th:text="${flight.flightNum}"></td>
                    <td th:text="${flight.sourceAirport.name}"></td>
                    <td th:text="${flight.destAirport.name}"></td>
                    <td th:text="${flight.sourceAirport.city}"></td>
                    <td th:text="${flight.destAirport.city}"></td>
                    <td th:text="${flight.status}"></td>
                    <td th:text="${flight.airline.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </main>
    </div>
</div>


<div class="popOutBg"></div>
<div class="popOut">
    <span title="Close"> x </span>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-top: 20px;margin-top:20px;justify-content:center;">
            <li class="nav-item" >
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Customer</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile" aria-selected="false">Ariline Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">Booking Agent</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <form id="customerLoginForm" class="form-horizontal loginCustomer" role="form" action="/login" method="post">
                        <input type="hidden" style="display:none" name="userType" value="customer">
                        <div class="form-group">
                            <label for="Email" class="col-sm-10 control-label">Email Address</label>
                            <div class="input-group has-validation">
                                <div class="col-sm-10">
                                    <input type="text" name="email" class="form-control" id="Email" aria-describedby="customerEmailValidation" placeholder="Please Enter your email" required>
                                </div>
                                <div id="customerEmailValidation" class="invalid-feedback">Please enter your email</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-10 control-label">Password</label>
                            <div class="input-group">
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Please Enter your password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Remember me for a day
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default buttonCustomer">Login</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-offset-2 col-sm-10" >
                        <button id="registerCustomer" class="btn btn-default" placeholder="register" value="Register">
                            Register</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">
                <form class="form-horizontal loginAirlineStaff" role="form" action="/login" method="post">
                    <input type="hidden" name="userType" value="airlineStaff">
                    <div class="form-group">
                        <label for="username" class="col-sm-10 control-label">Username</label>
                        <div class="input-group">
                            <div class="col-sm-10">
                                <input type="text" name="username" class="form-control" id="username" placeholder="Please Enter your username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordAirline" class="col-sm-10 control-label">Password</label>
                        <div class="input-group">
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control" id="passwordAirline" placeholder="Please Enter your password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Remember me for a day
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default buttonAirlineStaff">Login</button>
                        </div>
                    </div>
                </form>
                    <div class="col-sm-offset-2 col-sm-10" >
                        <button id="registerAirlineStaff" class="btn btn-default" placeholder="register" value="Register">
                            Register</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    <form class="form-horizontal loginAgent" role="form" action="/login" method="post">
                        <input type="hidden" name="userType" value="bookingAgent">
                        <div class="form-group">
                            <label for="EmailAgent" class="col-sm-10 control-label">Email Address</label>
                            <div class="input-group">
                                <div class="col-sm-10">
                                    <input type="text" name="email" class="form-control" id="EmailAgent" placeholder="Please Enter your email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordAgent" class="col-sm-10 control-label">Password</label>
                            <div class="input-group">
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" id="passwordAgent" placeholder="Please Enter your password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AgentID" class="col-sm-10 control-label">BookingAgentID</label>
                            <div class="input-group">
                                <div class="col-sm-10">
                                    <input type="text" name="agentId" class="form-control" id="AgentID" placeholder="Please Enter your ID">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Remember me for a day
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default buttonAgent">Login</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-offset-2 col-sm-10" >
                        <button id="registerBookingAgent" class="btn btn-default" placeholder="register" value="Register">
                            Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
       $("#customerLoginForm").bootstrapValidator({
           message: 'This value is not valid',
           feedbackIcons: {
               valid: 'glyphicon glyphicon-ok',
               invalid: 'glyphicon glyphicon-remove',
               validating: 'glyphicon glyphicon-refresh'
           },
           submitButtons:'button[type="button"]',
            fields: {
               email:{
                   message:'This field cannot be empty'
               },
                validators:{
                   notEmpty:{
                       message:"The email is required and cannot be empty"
                   },
                    emailAddress:{
                       message:"The input is not a valid email address"
                    }
                }
            }
       })
    });


    function temp(param){
        if(arguments[1] == true){
            return document.querySelectorAll(param);
        }else{
            return document.querySelector(param);
        }
    }
    function ani(){
        temp(".popOut").className = "popOut ani";
    }
    temp("#log").onclick = function(){
        temp(".popOut").style.display = "block";
        ani();
        temp(".popOutBg").style.display = "block";
    };
    temp(".popOut > span").onclick = function(){
        temp(".popOut").style.display = "none";
        temp(".popOutBg").style.display = "none";
    };
    temp(".popOutBg").onclick = function(){
        temp(".popOut").style.display = "none";
        temp(".popOutBg").style.display = "none";
    };

    $("#registerCustomer").click(function(){
        window.location.href = "/register?userType=customer";
    });

    $("#registerAirlineStaff").click(function(){
        window.location.href = "/register?userType=airlineStaff";
    });

    $("#registerBookingAgent").click(function(){
        window.location.href = "/register?userType=bookingAgent";
    });

    $(".buttonCustomer").click(function() {
        var formObject = {};
        var formArray =$(".loginCustomer").serializeArray();
        console.log("准备提交");
        $.each(formArray,function(i,item){
            formObject[item.name] = item.value;
        });

        $.ajax({
            url:"/login",
            type:"post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            dataType: "text",
            success:function(data){
                if(data=="User Not Found!"){
                    console.log("haha");
                }else if(data=="Password Error!"){
                    console.log("xixi");
                } else{
                    window.location.href="/customer";
                }

            },
            error:function(e){
                alert("错误！！");
            }
        });
    });

    $(".buttonAirlineStaff").click(function() {
        var formObject = {};
        var formArray =$(".loginAirlineStaff").serializeArray();
        console.log("准备提交");
        $.each(formArray,function(i,item){
            formObject[item.name] = item.value;
        });
        console.log(formObject);
        $.ajax({
            url:"/login",
            type:"post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            dataType: "text",
            success:function(data){
                if(data=="User Not Found!"){
                    console.log("haha");
                }else if(data=="Password Error!"){
                    console.log("xixi");
                } else{
                    window.location.href="/airlineStaff";
                }
            },
            error:function(e){
                alert("错误！！");
            }
        });
    });

    $(".buttonAgent").click(function() {
        var formObject = {};
        var formArray =$(".loginAgent").serializeArray();
        console.log("准备提交");
        $.each(formArray,function(i,item){
            formObject[item.name] = item.value;
        });
        console.log(formObject);
        $.ajax({
            url:"/login",
            type:"post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            dataType: "text",
            success:function(data){
                if(data=="User Not Found!"){
                console.log("haha");
            }else if(data=="Password Error!"){
                console.log("xixi");
            }else if(data=="BookingId Error!"){
                console.log("pipi");
            }else{
                    window.location.href="/bookingAgent";
                }
            },
            error:function(e){
                console.log("fuck");
                console.log(e);
            }
        });
    });

</script>

<script type="text/javascript" src="js/popper.min.js" th:src="@{/webjars/popper.js/1.11.1/dist/popper.js}"></script>
</body>
</html>