<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <script src="js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .form-control-feedback {
            position: absolute;
            top: .5rem;
            right: 1.5rem;
            z-index: 2;
            display: block;
            text-align: center;
            pointer-events: none;
            color:green;
        }
    </style>
</head>
<body>
<div th:replace="commons/bar::topbar"></div>
    <div class="container">
        <form id="bookingAgentForm" class="row g-5" role="form" action="/register/registerBookingAgent" method="post">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control has-error" name="email" id="email">
                <span class="form-control-feedback"><i class="fa fa-rotate-right"></i></span>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="1234 Main St">
            </div>
            <div class="col-md-2">
                <label for="building" class="form-label">Builing Number</label>
                <input type="text" class="form-control" name="buildingNumber" id="building" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-2">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" name="city" id="inputCity">
            </div>
            <div class="col-md-2">
                <label for="inputState" class="form-label">State</label>
                <input type="text" class="form-control" name="livingState" id="inputState">
            </div>
            <div class="col-md-6">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phone" id="phone">
            </div>
        <div class="col-md-6">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="text" class="form-control" name="birthday" id="birthday">
        </div>
        <div class="col-md-4">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-md-4">
            <label for="passportNumber" class="form-label">Passport Number</label>
            <input type="text" class="form-control" name="passportNumber" id="passportNumber">
        </div>
        <div class="col-md-4">
            <label for="passportExpiration" class="form-label">Passport Expiration</label>
            <input type="text" class="form-control" name="passportExpiration" id="passportExpiration">
        </div>
        <div class="col-md-4">
            <label for="passportCountry" class="form-label">Passport Country</label>
            <input type="text" class="form-control" name="passportCountry" id="passportCountry">
        </div>
            <div class="col-12">
                <div class="form-group">
                    <button type="button" id="submit" name="submit" class="btn btn-primary">Register</button>
                    <button type="button" id="reset" name="reset" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>



<script type="text/javascript">
    $(document).ready(function(){
        $("#customerForm").bootstrapValidator({
            message: 'This value is not valid',
            live:'enabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitButtons:'input[type="submit"]',
            fields: {
                email:{
                    message:'This field cannot be empty',
                    validators:{
                        notEmpty:{
                            message:"The email is required and cannot be empty"
                        },
                        emailAddress:{
                            message:"The input is not a valid email address"
                        },
                        remote:{
                            url:"/register/validateCustomer",
                            message:"customer already existed",
                            type:"GET",
                            data:function(){
                                return {
                                    "email": $("input[name='email']").val().trim()
                                };
                            },
                            delay:2000
                        }
                    }
                },
                password:{
                    validators:{
                        notEmpty:{
                            message:'The password field cannot be empty'
                        },
                        different:{
                            field:"email",
                            message:"Password cannot be the same as email"
                        },
                        regexp: {
                            // 必须以大写字母开头
                            regexp: /^[a-zA-Z]\w{7,15}$/,
                            message: 'Must be within 8-16 digits and starts with alphabet'
                        }
                    }
                }

            }
        })
    });

    $("#submit").on("click",function(){
        var bootstrapValidator = $("#bookingAgentForm").data('bootstrapValidator');
        bootstrapValidator.validate();
        if(bootstrapValidator.isValid()){
            var formObject = {};
            var formArray =$("#bookingAgentForm").serializeArray();
            $.each(formArray,function(i,item){
                if(item.value===''){
                    formObject[item.name] = null;
                }else{
                    console.log("xixi");
                    formObject[item.name] = item.value
                    ;}
            });
            $.ajax({
                url:"/register/registerCustomer",
                type:"post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(formObject),
                dataType: "text",
                success:function(data){
                    console.log("fuck you");
                    if(data=="User Not Found!"){
                        console.log("haha");
                    }else if(data=="Password Error!"){
                        console.log("xixi");
                    }else if(data=="BookingId Error!"){
                        console.log("pipi");
                    }else{
                        alert("Register Success");
                        window.location.href="/index";
                    }
                },

            })
        }
    });

    $('#reset').on('click', function () {
        var bootstrapValidator = $("#customerForm").data('bootstrapValidator');
        bootstrapValidator.resetForm();
        $('input').val('')
    });


</script>
</body>
</html>