<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
</head>
<body>
<div class="container">
    <form id="bookingAgentForm" class="form-horizontal" role="form" action="/login" method="POST">
        <div class="form-group">
            <label for="Email" class="col-sm-10 control-label">Email Address</label>
            <div class="input-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" id="Email" placeholder="Please Enter your email">
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-10 control-label">Password</label>
            <div class="input-group">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Please Enter your password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="AgentID" class="col-sm-10 control-label">BookingAgentID</label>
            <div class="input-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="bookingAgentId" id="AgentID" placeholder="Please Enter your ID">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="submit" name="submit" class="btn btn-primary">Register</button>
                <button type="button" id="reset" name="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $("#bookingAgentForm").bootstrapValidator({
            message: 'This value is not valid',
            live:'enabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitButtons:'input[type="submit"]',
            fields: {
                email:{
                    message:'This field cannot be empty',
                    validators:{
                        notEmpty:{
                            message:"The email is required and cannot be empty"
                        },
                        emailAddress:{
                            message:"The input is not a valid email address"
                        },
                        remote:{
                            url:"/register/validateBookingAgent",
                            message:"customer already existed",
                            type:"GET",
                            data:function(){
                                return {
                                    "email": $("input[name='email']").val().trim()
                                };
                            },
                            delay:2000
                        }
                    }
                },
                password:{
                    validators:{
                        notEmpty:{
                            message:'The password field cannot be empty'
                        },
                        different:{
                            field:"email",
                            message:"Password cannot be the same as email"
                        },
                        regexp: {
                            // 必须以大写字母开头
                            regexp: /^[a-zA-Z]\w{7,15}$/,
                            message: 'Must be within 8-16 digits and starts with alphabet'
                        }
                    }
                },
                bookingAgentId:{
                    validators:{
                        nonEmpty:{
                            message:"The Id field cannot be empty"
                        }
                    }
                }

            }
        })
    });

    $("#submit").on("click",function(){
        var bootstrapValidator = $("#bookingAgentForm").data('bootstrapValidator');
        bootstrapValidator.validate();
        if(bootstrapValidator.isValid()){
            var formObject = {};
            var formArray =$("#bookingAgentForm").serializeArray();
            $.each(formArray,function(i,item){
                if(item.value===''){
                    formObject[item.name] = null;
                }else{
                    formObject[item.name] = item.value
                    ;}
            });
            $.ajax({
                url:"/register/registerBookingAgent",
                type:"post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(formObject),
                dataType: "text",
                success:function(data){
                    console.log("fuck you");
                    if(data=="User Not Found!"){
                        console.log("haha");
                    }else if(data=="Password Error!"){
                        console.log("xixi");
                    }else if(data=="BookingId Error!"){
                        console.log("pipi");
                    }else{
                        alert("Register Success");
                        window.location.href="/index";
                    }
                },

            })
        }
    });

    $('#reset').on('click', function () {
        var bootstrapValidator = $("#customerForm").data('bootstrapValidator');
        bootstrapValidator.resetForm();
        $('input').val('')
    });
</script>
</html>