<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="nyu.alex.dao.mapper.IAirplaneDao">
    <resultMap id="allAirplaneInfo" type="airplane">
        <id property="id" column="airplane_id"></id>
        <id property="airline" column="airline_name"></id>
        <result property="seats" column="seats"></result>
    </resultMap>

    <select id="findAllAirplanes" resultType="nyu.alex.dao.entity.Airplane">
        select * from airplane
    </select>

    <select id="findAirplane" parameterType="java.util.Map" resultMap="allAirplaneInfo">
        select * from airplane where airplane_id=#{id} and airline_name=#{airline}
    </select>

</mapper>
